<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PowerDfi |
        <%= title %>
    </title>
    <link rel="stylesheet" href="/styles.css">

    <!-- Bootstrap CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

</head>

<body>
    <!-- PowerDfi Nav Bar -->
    <nav class="navbar navbar-expand-lg  nav-style">
        <div class="container">
            <a class="navbar-brand" href="#"><img src="/powerDfiLogo .svg" alt="brand-logo"></a>
            <button class="navbar-toggler nav-button btn-outline-primary" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span><img src="/hamburgerMenu.svg" alt="mobile-nav"></span>
          </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown nav-menu">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Products
                </a>
                        <ul class="dropdown-menu nav-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Staking</a></li>
                            <li><a class="dropdown-item" href="#">Lending</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Mining</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">News</a>
                    </li>

                </ul>
                <form class="d-flex">

                    <button class="btn btn-outline-light" type="submit">Sign Up</button>
                </form>
            </div>
        </div>
    </nav>

    <!--First Content section for PowerDfi-->

    <div class="container-first">
        <div id="first-header" class="container">
            <div class="row justify-content-center">
                <div class="col-md float-start mt-3 ms-1 pb-1">
                    <img src="/powerDfi-image.jpg" width="95%" class="col float-start mt-5 ms-2 pb-5" alt="defi-Image ">
                </div>
                <div class="col  float-end mt-5 ms-2 pb-4">

                    <h1 class="d-3 power-dfi-header 1h-base">PowerDfi is the preferred arena <br> for collaterizing physical assets via the blockchain.</h1>
                    <br>
                    <span class="mt-1 1h-base power-writeup">PowerDfi uses smart contract technology via the Blockchain to make the staking of physical assets possible. <br>
                        Collateralizing physical assets via the Blockchain also ease loan accessibility.</span>

                </div>


            </div>

        </div>

    </div>


    <!-- Second Content Section for Power Dfi-->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm mt-3">
                    <div class="text-center">
                        <img src="/Receive Cash.svg" alt="Lending">
                    </div>
                    <h2 class="p-dfi-header text-uppercase .fs-2 text-center">Lending</h2>
                    <p class="p-styling 1h-base">
                        <br> Lending protocol allows users to collateralize their physical and digital assets via the Blockchain to secure loans.
                    </p>
                </div>
                <div class="col-lg mt-3">
                    <div class="text-center">
                        <img src="/Bitcoin Cryptocurrency.svg" alt="Staking">
                    </div>

                    <h2 class="p-dfi-header text-uppercase .fs-2 text-center"> Staking</h2>
                    <p class="p-styling 1h-base">
                        <br> Powerdfi’s Staking Protocol allows users to earn returns by locking their physical or digital assets in the Powerdfi staking protocol.
                    </p>
                </div>


            </div>
        </div>

    </section>


    <section>

        <div class="container about-us">
            <div class="row">
                <div class="col-sm">
                    <div class="about-us mt-5">
                        <h1>About Us</h1>
                        <h4>At PowerDfi we’ve curated a team of experts and industry leaders, who will head and facilitate our goals & Objectives. </h4>
                        <br>
                        <h3>Our Team</h3>
                    </div>
                    <div class=" col-lg">
                        <img class="img-styling float-start pb-2" width="45%" src="/tim-webb-powerDfi.svg" alt="team picture">
                        <img class="img-styling float-end pb-2" width="45%" src="/charles-troost-powerDfi.svg" alt="team picture">
                        <img class="img-styling float-center pb-2" width="40%" src="/adele-thompson-powerDfi.svg" alt="team picture">
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- Footer for Power Dfi-->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm mt-2 float-start">
                    <a href="#"><img src="/powerDfiLogo .svg" alt=""></a>
                </div>
                <div class="col-lg-9 ml-1 mt-2">
                    <ul class="notices footer-style">
                        <li><a href="#">Products</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Growth RoadMap</a></li>
                        <li><a href="#">White Paper</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class=" container">
            <div class="row ">
                <div class="col-sm">
                    <p class="powerdfi-copyright"><span class="copyright-icon"><img src="/Vector.svg" alt="copyright"></span>2021 PowerDfi Technologies Limited.</p>
                </div>
                <!---->
                <div class="border-line"></div>
                <div class="col">
                    <a class="float-end ps-1" href="#" target="_blank"><img src="/youtube.svg" alt="Youtube"></a>
                    <a class="float-end ps-1" href="#" target="_blank"><img src="/Linkedin.svg" alt="LinkedIn"></a>
                    <a class="float-end ps-1" href="#" target="_blank"><img src="/Instagram.svg" alt="Instagram"></a>
                    <a class="float-end ps-1" href="#" target="_blank"><img src="/Telegram.svg" alt="Telegram"></a>
                </div>

            </div>
        </div>
    </footer>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js " integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p " crossorigin="anonymous "></script>

</body>


</html>