                  // Styles.scss
                  //Includes color schemes & utilities
                  //     @import "../node_modules/bootstrap/scss/functions";
                  //     @import "../node_modules/bootstrap/scss/variables";
                  //     @import "../node_modules/bootstrap/scss/mixins";
                  //     @import "../node_modules/bootstrap/scss/root";
                  // Modify colors to be used on PowerDfi Project
                  // Google Font for PowerDfi Project
                  @import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;700;800&display=swap');
                  // Colors to be used
                  $color1: #5250a4;
                  $color2: #E5E5E5;
                  $color3: #737B7D;
                  $color4: #EBEFF7;
                  $color5: #f5f7fa;
                  $color6: #c3cfe2;
                  $color7: #34C5FE;
                  // Sass rendering for PowerDfi
                  body {
                      margin: 0;
                      padding: 0;
                      font-family: 'Mukta', sans-serif;
                      .nav-style {
                          background-color: #5250a4;
                      }
                      .container-first {
                          width: 100%;
                          background: linear-gradient( to right, $color5 100%);
                          padding: 2rem;
                          margin: 0rem 0rem 3rem 0rem;
                          #first-header {
                              .power-dfi-header {
                                  font-weight: 800;
                                  line-height: 2.5rem;
                                  .power-writeup {
                                      padding: 2rem;
                                      font-size: 1.35rem;
                                      font-weight: 400;
                                      line-height: 0.2em;
                                      color: $color3;
                                  }
                              }
                          }
                      }
                      .p-dfi-header {
                          font-weight: 700;
                          line-height: 3rem;
                      }
                      .p-styling {
                          font-weight: 400;
                          line-height: 2rem;
                          color: $color3;
                          font-size: 1.2rem;
                      }
                      .about-us {
                          font-size: 2.2rem;
                          font-weight: 800;
                          text-align: center;
                          h4 {
                              font-size: 1rem;
                              font-weight: 400;
                              color: $color3;
                              text-align: center;
                          }
                          h3 {
                              font-size: 1.8rem;
                              font-weight: 800;
                          }
                      }
                      img-styling {
                          padding: 2rem;
                      }
                  }
                  
                  footer {
                      background-color: #5250a4;
                      margin-top: 0.7em;
                      margin-bottom: 0;
                      padding: 0.5rem 0.5rem 0.5rem 0.5rem;
                      color: $color2;
                      .footer-style {
                          font-size: 1rem;
                          font-weight: 300;
                          li {
                              list-style: none;
                          }
                          a {
                              font-family: 'Mukta', sans-serif;
                              color: $color2;
                              text-decoration: none;
                          }
                      }
                      .copyright-icon {
                          margin-right: 0.4rem;
                      }
                      .border-line {
                          border-radius: 0.2rem;
                          border: solid 2px;
                          color: $color7;
                          margin: 0.45rem;
                      }
                  }